* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.header-wrapper,
.top-info,
.features,
.works,
.footer-info,
.team {
  max-width: 1170px;
  min-width: 800px;
  margin: auto;
  text-align: center;
}

header {
  position: absolute;
  width: 100%;
}

.header-wrapper::after {
  content: "";
  display: block;
  clear: both;
  border-top: 1px solid #505268;
}

.top-logo {
  float: left;
  width: 189px;
  height: 24px;
  margin: 38px 0;
  background: url(../pic/logo.png) no-repeat;
}

.top-logo a {
  display: block;
  height: 100%;
}

.top-nav {
  float: right;
  margin: 39px -1px;
}

.top-nav a {
  margin-left: 56px;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.top-nav a:hover {
  text-decoration: underline;
}

.top-nav div:first-child {
  margin-left: 0;
}

.top {
  width: 100%;
  min-width: 800px;
  background: #30344f url(../pic/background.jpg);
  background-size: cover;
  color: #ffffff;
}

.top-info {
  clear: both;
  padding: 242px 120px 156px;
}

.top-header {
  margin-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
}

.top-text {
  margin-bottom: 74px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}

.top-button {
  width: 200px;
  height: 46px;
  background: #e84545;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.top-button:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
  text-decoration: underline;
}

.features {
  max-width: 1300px;
  padding: 84px 0;
}

.feature {
  display: inline-block;
  margin: 37px 38.5px;
  vertical-align: top;
  width: 310px;
}

.feature dt {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.first-feature::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -55px -5px;
}

.second-feature::before {
  content: "";
  display: block;
  width: 74px;
  height: 61px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -5px -75px;
}

.third-feature::before {
  content: "";
  display: block;
  width: 42px;
  height: 61px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -125px -5px;
}

.fourth-feature::before {
  content: "";
  display: block;
  width: 57px;
  height: 62px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -88px -75px;
}

.fifth-feature::before {
  content: "";
  display: block;
  width: 73px;
  height: 61px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -176px -5px;
}

.sixth-feature::before {
  content: "";
  display: block;
  width: 81px;
  height: 61px;
  margin: 0 auto 27px;
  background: url(../pic/spritesheet.png) no-repeat -154px -75px;
}

.feature dd {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
}

.works {
  max-width: 1900px;
  min-width: 800px;
  font: 0px/0 a;
}

.work {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 351.5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  font: 14px/22px "Raleway";
}

.work-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d64241;
  opacity: 0;
  transition: all .5s;
  color: #ffffff;
}

.work-info {
  position: absolute;
  width: 100%;
  margin-top: 150px;
}

.work-info h3 {
  margin-bottom: 4px;
  font-size: 13.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.work-overlay:hover {
  opacity: 0.8;
}

.first-work {
  background: url(../pic/work1.jpg);
  background-size: cover;
}

.second-work {
  background: url(../pic/work2.jpg);
  background-size: cover;
}

.third-work {
  background: url(../pic/work3.jpg);
  background-size: cover;
}

.fourth-work {
  background: url(../pic/work4.jpg);
  background-size: cover;
}

.fifth-work {
  background: url(../pic/work5.jpg);
  background-size: cover;
}

.sixth-work {
  background: url(../pic/work6.jpg);
  background-size: cover;
}

.seventh-work {
  background: url(../pic/work7.jpg);
  background-size: cover;
}

.eighth-work {
  background: url(../pic/work8.jpg);
  background-size: cover;
}

.team {
  max-width: 1200px;
  padding: 87px 0 0;
}

.team-about {
  display: inline-block;
  width: 270px;
  margin: 13px;
  text-align: left;
}

.team-about img {
  margin-bottom: 22px;
}

.team-about-name {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 300;
  color: #2d3033;
}

.team-about-position {
  margin-bottom: 21px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e84545;
}

.team-about-tell {
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 21px;
  color: #6c7279;
}

.team-about-networks li {
  display: inline-block;
}

.team-about-networks a {
  display: block;
  height: 100%;
}

.team-about-networks li:hover {
  box-shadow: 1px 2px 10px #d3d3d3;
  transform: scale(1.1,1.1);
}

.team-about-fb {
  width: 40px;
  height: 40px;
  background: url(../pic/facebook.jpg) no-repeat;
}

.team-about-tw {
  width: 40px;
  height: 40px;
  background: url(../pic/twitter.jpg) no-repeat;
}

.team-about-in {
  width: 40px;
  height: 40px;
  background: url(../pic/linkedin.jpg) no-repeat;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

.container {
  width: 100%;
  min-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before{
  display: table;
  content: " ";
}

.container:after{
  display: table;
  content: " ";
  clear: both;
}

.text-center{
  text-align: center;
}

.col-md-8 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.download h3 {
  margin-top: 0;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
}

.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0 0 10px;
}

.download #btn {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.download #btn:hover {
  transform: scale(1.1,1.1);
  text-decoration: underline;
}

.footer {
  width: 100%;
  min-width: 800px;
  background: #3a3e64;
  text-align: center;
}

.footer-info {
  padding: 40px 0 84px 2px;
}

.footer-info-block h2 {
  margin: 28px 0 12px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info-block {
  display: inline-block;
  vertical-align: top;
  width: 386px;
  font-style: normal;
}

.block-address {
  width: 150px;
  margin: auto;
  font-style: normal;
  color: #9697a7;
  font-size: 14px;
  line-height: 22.5px;
}

.block-share li {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin: 5px 1px;
}

.share a {
  display: block;
  height: 100%;
}

.share:hover {
  transform: scale(1.1,1.1);
}

.facebook {
  background: url(../pic/spritesheet.png) no-repeat -5px -5px;	
}

.twitter {
  background: url(../pic/spritesheet.png) no-repeat -55px -145px;
}

.linkedin {
  background: url(../pic/spritesheet.png) no-repeat -5px -145px;
}

.block-about {
  width: 340px;
  margin: auto;
  color: #9697a7;
  font-size: 14px;
  line-height: 22.5px;
}

.footer-copyright {
  width: 100%;
  padding: 24px 0;
  background: #313454;
  color: #808080;
  font-size: 14px;
  line-height: 22.5px;
}

.author {
  color: #ffffff;
}

.author::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-right: 3px;
  background: url(../pic/sign.png) 
}